html {
	background: Honeydew;
}

.slogan {
	display: absolute;
	text-align: center;
	font-size: 30px;
	font-family: Merriweather;
}

.titleAndSlogan {
  background-color: rgba(255, 255, 255, 0.5);
	padding: 10px, 0px;
	margin: 20px, 0px;
	color: slategray;
}

#search-box {
	left: 30%;
	background-color: green;
	top: 50%;
	height: 20%;
	width: 60%;
}

.post-content{
	left:20%;
	right:10%;
	width: 80%;
}

.bigTitle{
	display: absolute;
	color: #967272;
	font-size: 60px;
	text-align: center;
	font-family: Merriweather;
}

#hit-content{
	background-color:#cdcdcd;
	padding: 13px;
	border-radius:5px;
	border-width: 7px;
	border-style: dotted;
	border-color: rosybrown;
	font-family:Merriweather;
	margin: 10px;
	color: #4b3939;
/*	background-color: rgba(255, 255, 255, 0.5);*/

}

.sloganPic{
	margin:0;
	padding:0;
	display: relative;
	background-image: url("../images/niceppl.jpg");
	background-size: 100% 172%;
	background-repeat: no-repeat;
	width: 100%;
	height: 308px;
}

#input-container{
	align: center;
	background-color: #b4b4b4;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b4b4b4;
}

li {
  float: right;

}


li a {
	transition: 0.3s ease;
	align-self: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rosybrown;
}

.active {
  background-color: rosybrown;
}

h2{
	font-family: Merriweather;
}

li{
	font-family: Merriweather;
}

button {
	background-color: white;
	font-family: Merriweather;
   border-color: rosybrown;
   color: #967272;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
	 border-width: 5px;
   transition-duration: 0.4s;
   cursor: pointer;
}
.but:hover {
	background-color: rosybrown;
	color: white;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
 /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  #about {
	background-color:honeydew;
	padding: 13px;
	border-radius:5px;
	border-width: 7px;
	border-style: dotted;
	border-color: rosybrown;
	font-family:Merriweather;
	margin: 10px;
	color: #4b3939;
	text-align: center;
  }

  #contact {
	background-color:honeydew;
	padding: 13px;
	border-radius:5px;
	border-width: 7px;
	border-style: dotted;
	border-color: rosybrown;
	font-family:Merriweather;
	margin: 10px;
	color: #4b3939;
	text-align: center;
  }
